<section class="section" id="about">
    <div class="home-title">
        <h2>About Me</h2>
    </div>

    <div class="row">
        <div class="col">
            <div class="about-info">
                <h4>Who am I?</h4>
                <p>I’m a physics student with a love for data analysis and statistical exploration. Studying physics has
                    given me a strong foundation in analytical thinking, which I now apply to understanding and
                    interpreting data. With skills in Excel, Power BI, Python, and R, I enjoy working with data to
                    uncover trends and make sense of complex information.<br><br>

                    To me, data analysis is about more than just numbers; it’s a way to solve real problems and make
                    decisions clearer. Whether through visualizations or careful statistical insights, I’m passionate
                    about revealing the stories data has to tell.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="education">
                <h4>Education</h4>
                <ul>
                    <li>
                        Studied Physics at the <a href="https://www.du.ac.bd/">University of Dhaka</a> in Bangladesh.
                    </li>
                    <li>
                        Studying Physics at <a href="http://fzk.fen.marmara.edu.tr/en/">Marmara University</a> with
                        the prestigious <strong>full-ride <a href="https://www.turkiyeburslari.gov.tr/">Türkiye
                                Bursları</a></strong>
                        (Turkish Scholarships).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>