<section class="featured-box" id="home">
    <div class="featured-text">
        <div class="featured-text-card">
            <span>Nazmul Islam</span>
        </div>
        <div class="featured-name">
            <h2>I'm a <span class="typedText"></span>
            </h2>
        </div>
        <div class="featured-text-info">
            <p>Data is everywhere, but insights are priceless. 🔢✨ Leveraging a background in physics and data
                analytics, I bring precision, curiosity, and creativity to every project – unlocking the full story
                behind the numbers! 📊🔍
            </p>
        </div>
        <div class="featured-text-btn">
            <button class="hire">Hire Me</button>
            <button class="cv">Download CV</button>
        </div>

        <div class="social-media">
            {% for icon in site.data.social-media %}

            <div>
                <a href="{{ icon.link }}" target="_blank" class="follow-link">
                    <img class="icons" src="{{ icon.logo }}" alt="{{ icon.alt_text}}" title="{{ icon.alt_text }}">
                </a>
            </div>

            {% endfor %}
        </div>

    </div>
    <div class="hero-image">
        <div class="image">
            <img src="{{ '/assets/images/Jobair.png' | relative_url }}" alt="avatar">
        </div>
    </div>
</section>