.about-info,
.education {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-backgroundDarker);
    box-shadow: 1px 5px 7px 2px var(--color-shadow);
    border-radius: 20px;
}

.about-info p,
.education p {
    text-align: center;
    /* font-size: 15px; */
    /* color: #777; */
}