.about-info,
.education {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    background: var(--color-backgroundDarker);
    box-shadow: 1px 3px 3px 0px var(--color-shadow);
    border-radius: 20px;
}

.about-info p,
.education p {
    text-align: center;
}