/*
------------------------------------------------------------
Badges
------------------------------------------------------------
*/
.badges {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;

    div {
        width: max(120px, 20%);
        padding: 1em;

        img {
            margin: 0;
            box-shadow: none;
            transition-duration: 0.4s;
        }

        img:hover {
            transform: scale(1.2, 1.2);
            transition: transform 0.4s ease-in-out;
        }
    }
}