@import url('./codeMirror.css');

.blog-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(740px, 87%);
    margin-inline: auto;
    padding: 0 2vw;
}

#sql-playground-app {
    margin: 20px 5px;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

#table-container {
    display: flex;
    flex-direction: column;
}


#result-output {
    width: 85%;
    min-height: 150px;
    max-height: 600px;
    margin-bottom: 10px;
    padding: 15px 50px 15px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center;
    font-size: large;
    font-family: monospace, 'UbuntoMono', sans-serif;
}

#result-output {
    background: #ccc;
    text-align: center;
}

#query-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}