---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include head.html %}
    <title>{{ site.title }}</title>

    <link rel="preload" href="{{ '/assets/css/homePage.min.css' | relative_url }}" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/homePage.min.css' | relative_url }}">
    </noscript>

    {% include cssCritical.html %}

</head>


<body>

    {% include loader.html %}

    <div class="container">

        <!-- HEADER -->
        <nav id="header">
            {% include header.html %}
        </nav>

        <main class="home-wrapper">

            <!-- Hero Section -->
            {% include homePage/heroSection.html %}

            <!-- About -->
            {% include homePage/about.html %}

            <!-- Services that I offer -->
            <!-- <div class="index-my-services" markdown="1">
            
            <div class="home-title">
            <h2>My Services</h2>
            </div>
            
            {% include services.html %}
            
            </div> -->

            <!-- Projects -->
            <!-- <div class="index-projects" markdown="1">
            
            <div class="home-title">
            <h2>Projects</h2>
            </div>
            
            {% for project in site.projects %}
            - [{{ project.title }}]({{ project.url | relative_url }})
            {% endfor %}
            
            </div> -->

            <!-- Acquired certifications -->
            {% include homePage/badges.html %}

            <!-- Publications: blog, tutorial, papers, learning resources, etc. -->
            {% include homePage/featuredPosts.html %}

            <!-- Scrolling Logos -->
            {% include homePage/scrollingLogos.html %}

        </main>

        <!-- FOOTER -->
        <footer>
            {% include footer.html %}
        </footer>

    </div>

    <!-- JAVASCRIPT -->
    <script defer type="module" src="{{ '/assets/js/homePage.mjs' | relative_url }}"></script>

</body>

</html>