---
---

<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
    <title>{{ site.title }}</title>

    <link
      rel="preload"
      href="{{ '/assets/css/homePage.css' | relative_url }}"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link
        rel="stylesheet"
        href="{{ '/assets/css/homePage.css' | relative_url }}"
      />
    </noscript>
  </head>

  <body class="flex-col">
    <!-- HEADER -->
    {% include header.html %}
    <!-- LOADER -->
    {% include loader.html %}

    <main>
      <!-- Hero Section -->
      {% include homePage/heroSection.html %}

      <!-- About -->
      {% include homePage/about.html %}

      <!-- Skills -->
      {% include homePage/skills.html %}

      <!-- Projects -->
      {% include homePage/featuredProjects.html %}

      <!-- Experience -->
      {% include homePage/experiences.html %}

      <!-- Acquired certifications -->
      {% include homePage/certifications.html %}

      <!-- Client reviews -->
      {% include homePage/clientReviews.html %}

      <!-- Acquired certifications -->
      {% include homePage/contactForm.html %}
    </main>

    <!-- FOOTER -->
    {% include footer.html %}

    <!-- Main JS file -->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
