---
title: Portfolio
permalink: /portfolio/
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include head.html %}
    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="preload" href="{{ '/assets/css/blog.min.css' | relative_url }}" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/blog.min.css' | relative_url }}">
    </noscript>

    <script defer src="/assets/js/blog.min.js"></script>

    {% include cssCritical.html %}

</head>


<body>

    <div class="container">

        <!-- HEADER -->
        <nav id="header">
            {% include header.html %}
        </nav>

        <main class="blog-wrapper">

            <h1>Explore, Learn, Share</h1>

            <div class="category-buttons">
                <span class="other-categories selected-category" filter="all">All</span>
                <span class="other-categories" filter="excel">Excel</span>
                <span class="other-categories" filter="powerbi">Power BI</span>
                <span class="other-categories" filter="sql">SQL</span>
                <span class="other-categories" filter="others">Others</span>
            </div>
            <div class="posts">

                {% for project in site.projects %}
                <div class="post-item {{ post.categories | join: ' ' }}">
                    <div class="post-image">
                        {% if project.image %}
                        <img src="{{ project.image | relative_url }}" alt="{{ project.title }}">
                        {% else %}
                        <img src="{{ '/assets/images/featured_default.png' | asset_url }}" alt="{{ project.title }}">
                        {% endif %}
                    </div>

                    <div class="post-content">
                        {% for category in project.categories %}
                        <span class="category">{{ category }}</span>
                        {% endfor %}
                        <h5><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h5>
                        <p>{{ project.excerpt }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="pagination"></div>

        </main>

        <!-- FOOTER -->
        <footer>
            {% include footer.html %}
        </footer>

    </div>

</body>

</html>