.social-media,
.social-media-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;

    div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 25px;
        align-items: center;
        /* padding: 1em; */

        img {
            margin: 0;
            box-shadow: none;
            transition-duration: 0.4s;
        }

        img:hover {
            scale: 1.3;
            transition: scale 0.4s ease-in-out;
        }
    }
}

.featured-text>.social-media {
    margin-top: 3em;
}