<div class="social-media">
    {% for icon in site.data.social-media %}

    <div>
        <a href="{{ icon.link }}" target="_blank" class="follow-link">
            <img class="icons" src="{{ icon.logo }}" alt="{{ icon.alt_text}}" title="{{ icon.alt_text }}">
        </a>
    </div>

    {% endfor %}
</div>

<div class="copyright">
    <p>&copy; 2023 -
        <script>document.write(new Date().getFullYear());</script> <a href="https://github.com/nijobair">Nazmul
            Islam</a>. All rights reserved.
    </p>
</div>