<div class="nav-logo">
    <a id="site-logo" href="{{ site.url }}"></a>
</div>


<div class="nav-menu" id="myNavMenu">
    <ul class="nav_menu_list">
        <li class="nav_list">
            <a href="{{ site.url }}" class="nav-link">Home</a>
        </li>
        <li class="nav_list">
            <a href="{{ '/sql-playground' | relative_url }}" class="nav-link">SQL PlayGround</a>
        </li>
        <li class="nav_list">
            <a href="{{ '/blog' | relative_url }}" class="nav-link">Blog</a>
        </li>
    </ul>
</div>
<div class="nav-menu-btn" onclick="myMenuFunction()"></div>