<div class="nav-logo">
    <a id="site-logo" href="https://nijobair.github.io/"></a>
</div>
<div class="nav-menu" id="myNavMenu">
    <ul class="nav_menu_list">
        <li class="nav_list">
            <a href="#home" class="nav-link active-link">Home</a>
            <div class="circle"></div>
        </li>
        <li class="nav_list">
            <a href="#projects" class="nav-link">Projects</a>
            <div class="circle"></div>
        </li>
        <li class="nav_list">
            <a href="#blog" class="nav-link">Blog</a>
            <div class="circle"></div>
        </li>
    </ul>
</div>
<div class="nav-menu-btn" onclick="myMenuFunction()">
</div>