<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5CVX4ZGW');</script>
<!-- End Google Tag Manager -->


<meta charset='utf-8'>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="S4Tlb1lsDUOJPMmna_OTpmHEcXzDtIppDOIwjpQ97VU" />


<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">


<!--Favicon configuration-->
<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="NIJobair" />
<link rel="manifest" href="/assets/images/favicon/site.webmanifest" />