footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding-block: 20px 20px;
}


footer div.copyright p {
    color: var(--color-primary);
    font-size: .7rem;
    font-weight: bold;
}

/*
------------------------------------------------------------
Footer link
------------------------------------------------------------
*/
footer div.copyright a {
    color: #7eb0d2;
    font-family: 'Lugrasimo', sans-serif;
    font-weight: bold;
}