@import url("/assets/css/font.css");
@import url("/assets/css/header.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/others.css");
@import url("/assets/css/media.css");
@import url("/assets/css/table.css");
@import url("/assets/css/blog.css");
@import url("/assets/css/accordion.css");

@import "highlighter.scss";



/*
------------------------------------------------------------
Body
------------------------------------------------------------
*/
body {
    background-color: #ffebcd;
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: min(740px, 85%);
    margin-inline: auto;
    padding: 0 2vw;
    align-items: center;
    margin-top: clamp(12px, 2.9vw, 30px);
    margin-bottom: clamp(10px, 2.4vw, 25px);
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.main_content {
    width: 100%;
}