@import url("/assets/css/font.css");
@import url("/assets/css/header.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/others.css");
@import url("/assets/css/media.css");
@import url("/assets/css/table.css");
@import url("/assets/css/blog.css");
@import url("/assets/css/accordion.css");
@import url("/assets/css/giscus.css");
@import url("/assets/css/index.css");

@import "highlighter.scss";

/*
------------------------------------------------------------
Universal Styles
------------------------------------------------------------
*/
:root {
    --color-header: #7c334f;
}

/*
------------------------------------------------------------
Body
------------------------------------------------------------
*/
body {
    background-color: #ffebcd;
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: min(740px, 87%);
    margin-inline: auto;
    padding: 0 2vw;
    align-items: center;
    margin-top: clamp(40px, 5.5vw, 60px);
    margin-bottom: clamp(10px, 2.4vw, 25px);
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.main_content {
    width: 100%;
}