@use "highlighter.scss";

@import url("/assets/css/global/font.css");
@import url("/assets/css/global/header.css");
@import url("/assets/css/global/footer.css");
@import url("/assets/css/global/glossaryTooltip.css");


@import url("/assets/css/homePage.css");


@import url("/assets/css/others.css");
@import url("/assets/css/media.css");
@import url("/assets/css/table.css");


@import url("/assets/css/blog.css");
@import url("/assets/css/accordion.css");
@import url("/assets/css/giscus.css");

@import url("/assets/css/sqlChallengeHub/sqlChallengeHub.css");
@import url("/assets/css/sqlChallengeHub/codeMirror.css");



/*
------------------------------------------------------------
Universal Styles
------------------------------------------------------------
*/
:root {
    --color-primary: #7c334f;
    --color-background: #ffebcd;
    --color-backgroundDarker: #eccd9e;
    --color-backgroundPre: #3a3a3a;
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #007bff;
    --color-grey: #6c757d;

    --color-text: #544943;

    --color-button: var(--color-backgroundDarker);
    --color-buttonHover: var(--color-primary);

    --color-link: #417090;
    --color-linkHover: #1800b3;

    --color-shadow: #474746;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*
------------------------------------------------------------
Body
------------------------------------------------------------
*/
body {
    background-color: var(--color-background);
}

/*
------------------------------------------------------------
Content wrapper
------------------------------------------------------------
*/
.container {
    width: 100%;
    position: relative;
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 768px) {
    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        width: 21px;
        height: 21px;
        background-image: url("/assets/images/navigation.svg");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0.5;
    }

    .nav-menu-btn.open {
        background-image: url("/assets/images/xmark.svg");
    }

    .hero-section {
        flex-direction: column;
        height: 85vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: flex-start;
        margin: 20px 0;
    }

    .hero-image {
        justify-content: center;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }
}