/*
By default, 1rem = 16px
*/

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 1000;
    font-style: bold;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lugrasimo';
    src: url('../fonts/Lugrasimo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*
------------------------------------------------------------
Base font
------------------------------------------------------------
*/
body {
    background: #ece4d8;
    font-family: 'Ubuntu', sans-serif;
    color: #544943;
    -webkit-font-smoothing: antialiased;
    /* font-size: clamp(0.9rem, 1.5vw, 1rem); */
    font-size: 1rem;
    line-height: 1.3;
}

/*
------------------------------------------------------------
Bold text
------------------------------------------------------------
*/
strong {
    font-weight: bold;
}

/*
------------------------------------------------------------
Italic text
------------------------------------------------------------
*/
em {
    font-style: italic;
}

/*
------------------------------------------------------------
Headers
------------------------------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-primary);
    font-style: italic;
    margin: .25em 0 0 0;
    line-height: 1.2;
}

h1 {
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    border-bottom: 0.1em solid #d3ccc1;
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1rem, 2.5vw, 1.75rem);
}

h5 {
    font-size: clamp(0.875rem, 2vw, 1.5rem);
}

h6 {
    font-size: clamp(0.75rem, 1.75vw, 1.25rem);
}


/*
------------------------------------------------------------
Links
------------------------------------------------------------
*/
a {
    color: #417090;
    text-decoration: none;
}

/*
------------------------------------------------------------
Link hover
------------------------------------------------------------
*/
a:hover {
    text-decoration: underline;
    color: #1800b3;
}