a.color-text-primary {
    color: #544943;
}

#__next>main>div>div.gsc-comments>div.gsc-timeline>div>div>div.gsc-comment-header>div>a.gsc-comment-author-avatar {
    color: #417090;

    span {
        color: inherit;
    }

    ;

    &:hover {
        color: #1800b3;
    }
}