@import url('/assets/css/homePage/heroSection.css');
@import url('/assets/css/homePage/about.css');
@import url('/assets/css/homePage/achievements.css');
@import url('/assets/css/homePage/featuredPosts.css');
@import url('/assets/css/homePage/scrollingLogos.css');


.home-wrapper {
    padding-inline: 10vw;
    position: relative;
}


.section {
    padding-block: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}


.home-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}