@import url('/assets/css/homePage/heroSection.css');
@import url('/assets/css/homePage/about.css');
@import url('/assets/css/homePage/achievements.css');
@import url('/assets/css/homePage/featuredPosts.css');
@import url('/assets/css/homePage/scrollingLogos.css');


.section {
    padding-block: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}


.home-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

button {
    font-weight: 500;
    padding: 12px 20px;
    background: var(--color-backgroundDarker);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 2px 2px 1px 1px var(--color-shadow);
}

button:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: scale(1.1);
}