@import url("/assets/css/portfolio/pr-heroSection.css");
@import url("/assets/css/portfolio/pr-overviewSection.css");
@import url("/assets/css/portfolio/pr-sidebar.css");
@import url("/assets/css/portfolio/pr-caseStudy.css");
@import url("/assets/css/giscus.css");

@media (max-width: 950px) {
  .project-hero-grid {
    grid-template-columns: 1fr;
    gap: var(--space-11);
  }
  .case-study-layout {
    display: block;
    max-width: var(--width-content);
    margin-inline: auto;
  }
  .case-study-sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  .project-intro {
    font-size: var(--fs-body);
  }
  .overview-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .overview-item:nth-child(-n + 2) {
    border-bottom: var(--border-def);
  }
  .project-navigation {
    grid-template-columns: 1fr;
    margin-top: var(--space-15);
  }
}
