/*
------------------------------------------------------------
Dataframe
------------------------------------------------------------
*/
.df {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/*
------------------------------------------------------------
df_before & df_after
------------------------------------------------------------
*/
.df_before,
.df_after {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 50%;
    align-items: center;
}

/*
------------------------------------------------------------
Table
------------------------------------------------------------
*/
table {
    border-collapse: collapse;
    margin: 3px;
    font-family: 'UbuntuMono', sans-serif;
    font-size: smaller;
    width: 80%;
}

/*
------------------------------------------------------------
Table header
------------------------------------------------------------
*/
th {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: .1em .3em;
}

/*
------------------------------------------------------------
Table data
------------------------------------------------------------
*/
td {
    text-align: center;
    padding: .1em .3em;
}

/*
------------------------------------------------------------
Even table rows
------------------------------------------------------------
*/
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}

/*
------------------------------------------------------------
Odd table rows
------------------------------------------------------------
*/
tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

/*
------------------------------------------------------------
Table caption
------------------------------------------------------------
*/
.table_caption {
    font-family: 'Lugrasimo', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #aa0000;
}