---
layout: default
---
<main class="blog-wrapper">

    <h1>Explore, Learn, Share</h1>

    <div class="category-buttons">
        <span class="other-categories selected-category" filter="all">All</span>
        <span class="other-categories" filter="excel">Excel</span>
        <span class="other-categories" filter="dax">DAX</span>
        <span class="other-categories" filter="vba">VBA</span>
        <span class="other-categories" filter="powerbi">Power BI</span>
        <span class="other-categories" filter="others">Others</span>
    </div>

    {{ content }}

</main>