---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include head.html %}
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CVX4ZGW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">

        <!-- HEADER -->
        <nav id="header">
            {% include header.html %}
        </nav>


        <!-- MAIN CONTENT -->

        {{ content }}



        <!-- FOOTER -->
        <footer>
            {% include footer.html %}
        </footer>

    </div>

    <!-- ----- TYPING JS Link ----- -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- ----- SCROLL REVEAL JS Link----- -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- ----- MAIN JS ----- -->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/copyButton.js' | relative_url }}"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
</body>

</html>