---
---

<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
    <title>Blog | {{ site.title }}</title>

    <link
      rel="preload"
      href="{{ '/assets/css/blog.min.css' | relative_url }}"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <noscript>
      <link
        rel="stylesheet"
        href="{{ '/assets/css/blog.min.css' | relative_url }}"
      />
    </noscript>

    <script src="https://cdn.jsdelivr.net/npm/vega@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@7"></script>
  </head>

  <body>
    {% include loader.html %}

    <div class="container">
      <!-- HEADER -->
      {% include header.html %}

      <main class="blog-wrapper">
        <!-- Featured image-->
        {% if page.image %}
        <img
          class="featured-image"
          src="{{ page.image | relative_url }}"
          alt="{{ page.title }}"
        />
        {% else %}
        <img
          class="featured-image"
          src="{{ '/assets/images/featured_default.png' | asset_url }}"
          alt="{{ page.title }}"
        />
        {% endif %}

        <h1>{{ page.title }}</h1>
        <div class="post-top">
          {% include share-buttons.html %}
          <p
            style="
              font-family: &quot;UbuntuMono&quot;, sans-serif;
              text-align: right;
              text-decoration: underline;
            "
          >
            {{ page.date | date_to_string }}
          </p>
        </div>

        {{ content }}

        <div class="buymeacoffee">
          <a
            href="https://buymeacoffee.com/nijobair"
            target="_blank"
            class="follow-link"
          >
            <img
              src="/assets/images/social-media/bmc-button.svg"
              alt="Buy Me a Coffee logo"
              title="Buy me a coffee 🫠??"
            />
          </a>
        </div>

        <!-- Post navigation -->
        <div class="post-nav">
          <div class="post-nav-previous">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}">
              <span class="unsighted">Previous post:</span>
              {{ page.previous.title | markdownify }}
              <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
          </div>
          <div class="post-nav-next">
            {% if page.next.url %}
            <a href="{{ page.next.url }}">
              <span class="unsighted">Next post:</span>
              {{ page.next.title | markdownify }}
              <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
          </div>
        </div>

        <!-- Related Posts -->
        {% assign related_posts = site.posts | where_exp: "post", "post.url !=
        page.url" %} {% assign filtered_posts = "" | split: "" %} {% for post in
        related_posts %} {% assign post_categories = post.categories | join: " "
        | downcase %} {% assign page_categories = page.categories | join: " " |
        downcase %} {% assign common_categories = false %} {% for category in
        page.categories %} {% assign category_lower = category | downcase %} {%
        if post.categories contains category or post_categories contains
        category_lower %} {% assign common_categories = true %} {% break %} {%
        endif %} {% endfor %} {% if common_categories %} {% assign
        filtered_posts = filtered_posts | push: post %} {% endif %} {% endfor %}
        {% if filtered_posts.size > 0 %}
        <div class="related-posts">
          <h6>Related Posts</h6>
          <ul>
            {% for post in filtered_posts limit: 5 %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Comments -->
        <script
          src="https://giscus.app/client.js"
          data-repo="nijobair/nijobair.github.io"
          data-repo-id="R_kgDOMwgFyA"
          data-category="General"
          data-category-id="DIC_kwDOMwgFyM4CiZqE"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="https://nijobair.github.io/assets/css/blog.min.css"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
      </main>

      <!-- FOOTER -->
      {% include footer.html %}
    </div>

    <script defer src="/assets/js/blog.min.js"></script>
    <script defer src="/assets/js/highlight.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        hljs.highlightAll();
      });
    </script>

    <!-- MATHJAXfor LATEX -->
    <script
      id="MathJax-script"
      defer
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
