---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include head.html %}
    <title>Blog | {{ site.title }}</title>

    <link rel="preload" href="{{ '/assets/css/blog.min.css' | relative_url }}" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/blog.min.css' | relative_url }}">
    </noscript>
</head>


<body>

    <div class="container">

        <!-- HEADER -->
        <nav id="header">
            {% include header.html %}
        </nav>

        <main class="blog-wrapper">

            <!-- Featured image-->
            {% if page.image %}
            <img class="featured-image" src="{{ page.image | relative_url }}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image" src="{{ '/assets/images/featured_default.png' | asset_url }}"
                alt="{{ page.title }}">
            {% endif %}

            <h1>{{ page.title }}</h1>
            <div class="post-top">
                {% include share-buttons.html %}
                <p style="font-family: 'UbuntuMono', sans-serif; text-align: right; text-decoration: underline;">{{
                    page.date |
                    date_to_string }}</p>
            </div>

            {{ content }}

            <div class="buymeacoffee">
                <a href="https://buymeacoffee.com/nijobair" target="_blank" class="follow-link">
                    <img src="/assets/images/social-media/bmc-button.svg" alt="Buy Me a Coffee logo"
                        title="Buy me a coffee 🫠??">
                </a>
            </div>

            <!-- Post navigation -->
            <div class="post-nav">
                <div class="post-nav-previous">
                    {% if page.previous.url %}
                    <a href="{{ page.previous.url }}">
                        <span class="unsighted">Previous post:</span>
                        {{ page.previous.title | markdownify }}
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                </div>
                <div class="post-nav-next">
                    {% if page.next.url %}
                    <a href="{{ page.next.url }}">
                        <span class="unsighted">Next post:</span>
                        {{ page.next.title | markdownify }}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </div>
            </div>

            <!-- Comments -->
            <script src="https://giscus.app/client.js" data-repo="nijobair/nijobair.github.io"
                data-repo-id="R_kgDOMwgFyA" data-category="General" data-category-id="DIC_kwDOMwgFyM4CiZqE"
                data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="0"
                data-input-position="top" data-theme="https://nijobair.github.io/assets/css/blog.min.css" data-lang="en"
                data-loading="lazy" crossorigin="anonymous" async>
                </script>
        </main>

        <!-- FOOTER -->
        <footer>
            {% include footer.html %}
        </footer>

    </div>

    <script defer src="/assets/js/blog.min.js"></script>
    <script defer src="/assets/js/highlight.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            hljs.highlightAll();
        });
    </script>

    <!-- MATHJAXfor LATEX -->
    <script id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</body>

</html>