---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include head.html %}
    <title>{{ page.title }} | {{ site.title }}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.6.2/sql-wasm.js"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/sqlChallengeHub.js' | relative_url }}"></script>

    <link rel="preload" href="{{ '/assets/css/sqlChallengeHub.min.css' | relative_url }}" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ '/assets/css/sqlChallengeHub.min.css' | relative_url }}">
    </noscript>
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CVX4ZGW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">

        <!-- HEADER -->
        <nav id="header">
            {% include header.html %}
        </nav>

        <main class="blog-wrapper">

            {{ content }}

            <div class="buymeacoffee">
                <a href="https://buymeacoffee.com/nijobair" target="_blank" class="follow-link">
                    <img src="/assets/images/social-media/bmc-button.svg" alt="Buy Me a Coffee logo"
                        title="Buy me a coffee 🫠??">
                </a>
            </div>

        </main>

        <!-- FOOTER -->
        <footer>
            {% include footer.html %}
        </footer>

    </div>

    <!-- Javascripts for sqlChallengeHub -->
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js/dist/fireworks.min.js"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/codeMirror.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/sqlCodeMirror.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/closeBrackets.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/matchBrackets.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/annotateScrollbar.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/matchHighlighter.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/matchOnScrollbar.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/searchCursor.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/placeHolder.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/fullScreen.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sqlChallengeHub/comment.js' | relative_url }}"></script>

</body>

</html>